In [7]:
import pandas as pd

In [13]:
#1
df = pd.read_csv("OnlineRetail.csv",encoding='ISO-8859-1')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [21]:
#2
td=df.head(10)
td

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [17]:
#3
ld=df.tail(10)
ld

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [19]:
#4
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [23]:
#5
summary=tp=df.info()
summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [25]:
#6 -- access specific coloumns
cl=df[["Description","Quantity"]]
cl

                                Description  Quantity
0        WHITE HANGING HEART T-LIGHT HOLDER         6
1                       WHITE METAL LANTERN         6
2            CREAM CUPID HEARTS COAT HANGER         8
3       KNITTED UNION FLAG HOT WATER BOTTLE         6
4            RED WOOLLY HOTTIE WHITE HEART.         6
...                                     ...       ...
541904          PACK OF 20 SPACEBOY NAPKINS        12
541905         CHILDREN'S APRON DOLLY GIRL          6
541906        CHILDRENS CUTLERY DOLLY GIRL          4
541907      CHILDRENS CUTLERY CIRCUS PARADE         4
541908        BAKING SET 9 PIECE RETROSPOT          3

[541909 rows x 2 columns]

In [29]:
#7 -- acces row by integer location

ri=df.iloc[1]
ri

InvoiceNo                   536365
StockCode                    71053
Description    WHITE METAL LANTERN
Quantity                         6
InvoiceDate         12/1/2010 8:26
UnitPrice                     3.39
CustomerID                 17850.0
Country             United Kingdom
Name: 1, dtype: object

In [ ]:
#8 --delete a specific column

cd=df.drop("InvoiceDate",axis=1,inplace=True)
cd

In [39]:
#9 --specific condition
df[(df['Quantity']==4) & (df['UnitPrice']<2.5)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
134,536381,22646,CERAMIC STRAWBERRY CAKE MONEY BANK,4,12/1/2010 9:41,1.45,15311.0,United Kingdom
327,536401,22961,JAM MAKING SET PRINTED,4,12/1/2010 11:21,1.45,15862.0,United Kingdom
544,536412,22662,LUNCH BAG DOLLY GIRL DESIGN,4,12/1/2010 11:49,1.65,17920.0,United Kingdom
635,536415,22147,FELTCRAFT BUTTERFLY HEARTS,4,12/1/2010 11:57,1.45,12838.0,United Kingdom
640,536415,22149,FELTCRAFT 6 FLOWER FRIENDS,4,12/1/2010 11:57,2.10,12838.0,United Kingdom
...,...,...,...,...,...,...,...,...
541610,581514,22500,SET OF 2 TINS JARDIN DE PROVENCE,4,12/9/2011 11:20,1.25,17754.0,United Kingdom
541665,581538,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,4,12/9/2011 11:34,1.45,14446.0,United Kingdom
541678,581538,22197,POPCORN HOLDER,4,12/9/2011 11:34,0.85,14446.0,United Kingdom
541735,581571,23197,SKETCHBOOK MAGNETIC SHOPPING LIST,4,12/9/2011 12:00,1.45,15311.0,United Kingdom
541836,581580,23334,IVORY WICKER HEART SMALL,4,12/9/2011 12:20,0.63,12748.0,United Kingdom

In [41]:
#10 --- sum
df["UnitPrice"].sum()

2498803.974

In [43]:
#11 --- mean
df["UnitPrice"].mean()

4.611113626088513

In [45]:
#12 --- count
df["UnitPrice"].count()

541909

In [47]:
#13 --- max
df["UnitPrice"].max()

38970.0

In [49]:
#14 -- min
df["UnitPrice"].min()

-11062.06

In [51]:
#15 -- least occurences
counts = df['UnitPrice'].value_counts()

least_common = counts[counts == counts.min()]
least_common

UnitPrice
4505.17    1
5.14       1
793.32     1
1154.67    1
323.05     1
          ..
84.21      1
46.86      1
28.66      1
156.45     1
224.69     1
Name: count, Length: 1104, dtype: int64

In [53]:
#16 ---describe
des=df.describe()
des

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [55]:
#17 ----unique country
df["Country"].nunique()

38

In [57]:
#18 ---- most frequent country
df["Country"].mode()[0]

'United Kingdom'

In [59]:
#19 ----index
df.index

RangeIndex(start=0, stop=541909, step=1)

In [61]:
#20 ---- column
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [63]:
# 21 ---no. of columns in data set
df.shape[1]

8

In [67]:
# 22 --Nominal, Ordinal, Binary and Numeric attributes
Nominal=['InvoiceNo', 'StockCode', 'Description', 'CustomerID', 'Country']
print('nominal columns is : ',Nominal)

Ordinal=['InvoiceDate']
print('ordinal columns is : ',Ordinal)

Numeric =['Quantity', 'UnitPrice']
print('numeric columns is : ',Numeric)

#this data set has no any binary column

nominal columns is :  ['InvoiceNo', 'StockCode', 'Description', 'CustomerID', 'Country']
ordinal columns is :  ['InvoiceDate']
numeric columns is :  ['Quantity', 'UnitPrice']

In [69]:
#23-- symmetric or asymmetric
Symmetric=['Quantity','InvoiceDate','UnitPrice']
print("symmetric column is : ",Symmetric)

Asymmetric=['InvoiceNo','StockCode','Description','CustomerID','Country']
print("asymmetric column is : ",Asymmetric)

symmetric column is :  ['Quantity', 'InvoiceDate', 'UnitPrice']
asymmetric column is :  ['InvoiceNo', 'StockCode', 'Description', 'CustomerID', 'Country']

In [71]:
#24 ---count the frequence
quantity = df['Quantity'].value_counts()
quantity

Quantity
 1        148227
 2         81829
 12        61063
 6         40868
 4         38484
           ...
-472           1
-161           1
-1206          1
-272           1
-80995         1
Name: count, Length: 722, dtype: int64

In [73]:
# 25 ---covisiant
df.cov(numeric_only=True)

                Quantity    UnitPrice    CustomerID
Quantity    47559.391409   -26.058761 -1.534050e+03
UnitPrice     -26.058761  9362.469164 -5.415793e+02
CustomerID  -1534.050176  -541.579276  2.936426e+06

In [75]:
# 26-- corelation
df.corr(numeric_only = True)

            Quantity  UnitPrice  CustomerID
Quantity    1.000000  -0.001235    -0.00360
UnitPrice  -0.001235   1.000000    -0.00456
CustomerID -0.003600  -0.004560     1.00000